[user]
	name = Charles de Freitas
	email = charles@defreitas.io
	signingKey = F50B9F734166401A

[core]
	pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'

[interactive]
	diffFilter = delta --color-only
[commit]
	gpgsign = true
